{{#if problemlist}}
<div class="container">
    <div class="row row-cols-auto m-4">
        {{#each problemlist}}
        <a href="/{{link}}" class="btn btn-primary m-1">{{name}}</a>
        {{/each}}
    </div>

    <div class="container login-container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Log In to track your progress</h5>
                <p class="card-text">This is a DSA tracker app, login with your google account.</p>
                <a href="/auth/google" class="btn btn-danger">Log In with Google</a>
            </div>
        </div>
    </div>
</div>
{{else}}
<p>You have not created any problemlist</p>
{{/if}}